

p.solid {
    border-style: solid;
    background-color: #00ffff;
    padding: 10px;
}
 
a:link ,a:visited {
    color: red;
  }
   
  a:link:active, a:visited:active {
    color: green;
  }
  /* mouse over link */
  a:hover {
    color: yellow;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }